<h2 mat-dialog-title>Agregar Nuevo Rol</h2>

<mat-dialog-content>
    <form [formGroup]="form" autocomplete="off">
        <mat-form-field class="w-100" appearance="legacy">
            <mat-label>Rol</mat-label>
            <input type="text" matInput placeholder="Ingrese un nombre de Rol" formControlName="role">
            <mat-error *ngIf="form.invalid">{{getMessageRole()}}</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial [disabled]="form.invalid"
        (click)="crear()">Agregar</button>
</mat-dialog-actions>